.search-bar-chat
{
    height: 20px;
    width: 100%;
    background-color: antiquewhite;
}

#contacts-section-chat
{
    width: 30%; 
    height: 100%;
     background-color: white;
}


#chatContent-section-chat
{
    width: 70%; 
    height: 100%;
    background-color: white;
}

.contact-card
{
    background-color: white;
    height: 40px;
    width: 100px;
}
